form {
    display: block;
    margin-top: 0em;
    z-index: 1000;
    border-style: groove;
    padding: 20px 50px;
    margin-top: 06%;
    margin-left: -100px;
    background-color: rgba(0,0,0,0.65); /*red, green, blue, opacity*/


}

#results, #results1 {
    font-family: 'Indie Flower', cursive;
}

#flight{
  border-width:5px;  
  border-style:double;
    background-image: url("assets/images/clouds.jpg");
    background-repeat: no-repeat;
  background-size: 1000px 500px;

 
}

#hotel{
border-width:5px;  
  border-style:double;
    background-image: url("assets/images/hotel3.jpg");
    background-repeat: no-repeat;
  background-size: 1000px 500px;
  
}